!!! 5
%html
  %head
    %title [ MiniYard ]
    %link{rel: 'stylesheet', type: 'text/css', href: './bootstrap.1.4.0.min.css'}
    :javascript
      function selectFolder(anchor, folder) {
        document.getElementById('index-frame-link').href = './'+folder+'/index.html';
        document.getElementById('frames-frame-link').href = './'+folder+'/frames.html';
        setActive(anchor);
        setActive(document.getElementById('index-frame-link'));
      }
      function setActive(anchor) {
        var ul = anchor.parentElement.parentElement;
        for (var i = 0; i < ul.children.length; i++)
          ul.children[i].classList.remove('active');
        anchor.parentNode.classList.add('active');
      }
    :css
      html,body { height: 100%; margin: 0; padding: 0; }
      body { background: #333; color: #fff; }
      span.bracket { color: #444; }
      h3.title { color: #fff; margin: 0; padding: 0; }
      h3.title .version { font-size: 10px; padding-bottom: 10px; color: #666; }
      .sidebar { text-align: right; }
      .sidebar ul { list-style-type: none; margin: 0; padding: 0; margin-top: 50px }
      .sidebar ul li { font-size: 20px; margin: 3px 0; }
      .sidebar ul li a { border-right: 3px solid #444; padding: 10px 10px; display: inline-block; color: #fff }
      .sidebar ul li a:hover, .sidebar ul li a:active:hover, .sidebar ul li.active a { border-right-color: #FFC940; }
      .sidebar ul li.active { font-weight: bold; background: #666; }
      .content ul.pills { margin-bottom: 0; }
      .content ul.pills a { color: #fff; text-shadow: 0 1px 1px #666; }
      .content #frame { width: 100%; min-height: 90%; background: #fff; }
    
  %body
    .container-fluid
      .sidebar
        %ul
          - folders.each do |folder|
            %li
              %a{id: "#{folder}-link", href: "./#{folder}/index.html", target: 'frame', onclick: "javascript: selectFolder(this, '#{folder}')"}
                = folder
            
      .content
        %ul#pill-nav.pills{"data-pills" => "pills"}
          %li
            %a{id: "index-frame-link", href: '#', target: "frame", onclick: "javascript: setActive(this)"} No Frames
          %li
            %a{id: "frames-frame-link", href: '#', target: "frame", onclick: "javascript: setActive(this)"} Frames
        %iframe#frame{name: 'frame', frameborder: '0'}
        %h3.title
          %span.bracket [
          MiniYard
          %span.bracket ]
          %span.version= miniyard_version
    